html 
  head 
    title 
    link(rel='stylesheet', href='/css/samplePage.css')
    script(src='/js/samplePage.js')
  body 
    header 
      div(class='title') GREETINGS
    main 
      div() Hello Good Morning